*                 text=auto
*.bash            text eol=lf
*.sh              text eol=lf
*.cfg             text eol=lf
*.bat             text eol=crlf
*.cmd             text eol=crlf
Dockerfile        text
*.md              text diff=markdown
*.txt             text
AUTHORS           text
CHANGELOG         text
LICENSE           text
*README*          text
TODO              text
.editorconfig     text
.env              text
.gitattributes    text
.gitconfig        text
*.lock            text -diff
*.toml            text
*.yaml            text
*.yml             text
Makefile          text
makefile          text

# images (for docs)
*.bmp             binary
*.eps             binary
*.gif             binary
*.gifv            binary
*.ico             binary
*.jng             binary
*.jp2             binary
*.jpg             binary
*.jpeg            binary
*.jpx             binary
*.jxr             binary
*.pdf             binary
*.png             binary
*.psb             binary
*.psd             binary
*.svg             text
*.svgz            binary
*.tif             binary
*.tiff            binary
*.wbmp            binary
*.webp            binary

*.*ignore         text